.home{
    width: 100%;
    height: 100vh;

    h1{
        font-size: 60px;
        font-family: ui-monospace;
        font-weight: 600;
    }
    p{
        font-size: 30px;
        margin-bottom: 5rem;
        font-weight: 400;
        font-family: ui-monospace;
    }

    .home-btn{
        background-color: rgba(165, 195, 240, 1);
        border-radius: 5px;
        font-weight: bold;
        border: none;
        outline: none !important;
        width: fit-content;

        .link{
            color: white !important;
            font-size: 22px;
            font-family: ui-monospace;
        }
    }

}