.navbar-brand{
    color: rgba(165, 195, 240, 1);
    font-size: 28px;
    font-weight: bold;
}

.nav-link{
    font-family: monospace;
    font-size: 26px;
    font-weight: 600;
}

.btn-nav{
    background-color: rgba(165, 195, 240, 1);
    border-radius: 5px;
    color: white !important;
    font-weight: bold;
}
