body{

  .container_create{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    margin-top: 40px;

    h3{
      margin-bottom: 30px;
      font-family: cursive;
      letter-spacing: 5px;
    }
  
    .form{
      display: flex;
      gap: 1rem;
      justify-content: center;
      flex-direction: column;
      align-items: center;
  
      input{
        border: none;
        outline: none;
        width: 350px;
        padding: 0.5rem;
        border-bottom: 1px solid #000;
        background-color: #e9eef6;
        height: 40px;
        background-color: #c8eaf4;
        font-family: inherit;
      }
      .form-control{
         max-width: 500px;
         width: 100%;
         height: 40px;
         max-height: 150px;
         height: fit-content;

         &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey; 
          border-radius: 10px;
        }
         
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background-color: rgb(93, 147, 225);
          border-radius: 10px;
        }
        &::-webkit-scrollbar {
          width: 5px;            
        }
      
        &::-webkit-scrollbar-track {
          background: white;       
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: rgb(93, 147, 225);
          border-radius: 10px;
        }
      
        &::-webkit-scrollbar {
          width: 5px;
        }
      }
    }

    .container_button{
      button{
        background: linear-gradient(90deg, #56c4cb, #9be8f3);
        border: 1px solid black;
        color: white;
        font-weight: 500;
        letter-spacing: 2px;
        border-radius: 5px;
        border: none;
        text-transform: uppercase;
        text-decoration: none;
        padding: 12px 36px;
        font-family: monospace;

      }
    }
  
  }

  .container_task{
    display: flex;
    flex-direction: column;
    margin: 20px 100px;

    .container_list{
      display: flex;
      flex-direction: row;
      
      .list{
        width: 100%;
        height: 68vh;
        display: flex;
        flex-direction: row;
        overflow-y: auto;
        gap: 20px;
        flex-wrap: wrap;
        padding: 5px;
        justify-content: center;

        &::-webkit-scrollbar-track {
          box-shadow: inset 0 0 5px grey; 
          border-radius: 10px;
        }
         
        /* Handle */
        &::-webkit-scrollbar-thumb {
          background-color: rgb(93, 147, 225);
          border-radius: 10px;
        }
        &::-webkit-scrollbar {
          width: 5px;            
        }
      
        &::-webkit-scrollbar-track {
          background: white;       
        }
        
        &::-webkit-scrollbar-thumb {
          background-color: rgb(93, 147, 225);
          border-radius: 10px;
        }
      
        &::-webkit-scrollbar {
          width: 5px;
        }
      }
    }
    

    .btn-area{
      margin-bottom: 25px;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin-top: 10px;
      gap: 10px;

      .secondaryBtn{
        font-family: monospace;
        background-color: #6eb6c4;
        color: white;
        border-radius: 0px;
        border: none;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        text-transform: uppercase;

        .count{
          background: white;
          justify-content: center;
          display: flex;
          align-items: center;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          color: black;

          span{
            font-weight: 600;
          }
        }
      }

    }



  }


  @media only screen and (max-width: 900px) {
    .container_task{
      margin: 20px 10px;

      .secondaryBtn{
        padding: 6px;
        font-weight: 400;
        font-size: 14px;

      }

      .card-container{
        width: 160px;

        .task_name{
          font-size: 12px;
          border-radius: 4px;
        }

        .task_description{
          height: 100px;
        }
      }
    }
  }

  @media only screen and (max-width: 550px) {
    .container_task{
      margin: 20px 2px;

      .secondaryBtn{
        padding: 6px;
        font-weight: 400;
        font-size: 11px;

      }

      .card-container{
        width: 100px;

        .task_name{
          font-size: 10px;
          border-radius: 4px;
        }

        .task_description{
          height: 70px;
          font-size: 12px;
        }
      }
    }
  }

}




